////////////////////////////////////////////////////////////////////////////////
//  Typography
////////////////////////////////////////////////////////////////////////////////

$core-font-size: 16px;
$core-baseline: 24px;

////////////////////////////////////////////////////////////////////////////////
//  Grid
////////////////////////////////////////////////////////////////////////////////

$core-column-width: 65px;
$core-gutter-width: 20px;
$core-1024-grid-columns: 12;

////////////////////////////////////////////////////////////////////////////////
//  Colors
////////////////////////////////////////////////////////////////////////////////

$core-color-blue: #0896ff;
$core-color-light-blue: #537cb4;
$core-color-dark-blue: #003580;
$core-color-yellow: #feba02;
$core-color-light-gray: #f2f4f8;