<div class="breadcrumb">
    <ol class="breadcrumb__items">
        <% items.each do |item| %>
            <li class="breadcrumb__item">
                <a href="#" class="breadcrumb__link">
                    <%= item %>
                </a>
            </li>
        <% end %>
    </ol>
</div>
