<header class="main-header">
    <div class="main-header__content">
        <h1 class="main-header__logo logo">Booking.com</h1>

        <div class="main-header__currency-selector">
        </div>

        <div class="main-header__language-selector">
        </div>

        <div class="main-header__login">
        </div>
    </div>
</header>
