<form class="main-footer__newsletter-form">
    <fieldset>
        <input type="email" placeholder="Your email" class="main-footer__newsletter-form__input" />
        <label class="main-footer__newsletter-form__app-link-option">
            <input type="checkbox" />
            <strong>Send me a link to get the FREE Booking.com app!</strong>
        </label>
        <button class="main-footer__newsletter-form__submit">Subscribe</button>
    </fieldset>
</form>