<ul class="main-footer__products__items">
    <% links.each do |link| %>
        <li class="main-footer__products__item">
            <a href="#" class="main-footer__products__link"><%= link %></a>
        </li>
    <% end %>
</ul>