<ul class="main-footer__sitemap__items">
    <% links.each do |link| %>
        <li class="main-footer__sitemap__item">
            <a href="#" class="main-footer__sitemap__link"><%= link %></a>
        </li>
    <% end %>
</ul>
