<div class="hotel-page__gallery hotel-page__block">
    <div class="hotel-page__gallery__main-photo">
        <%= image_tag "_samples/1_large.jpg" %>
    </div>
    <ul class="hotel-page__gallery__thumbs">
        <% (1..12).each do |i| %>
            <li class="hotel-page__gallery__thumb">
                <%= link_to(image_url "_samples/#{i}_large.jpg") do %>
                    <%= image_tag "_samples/#{i}_thumb.jpg" %>
                <% end %>
            </li>
        <% end %>
    </ul>
</div>
