<div class="hotel-page__reviews hotel-page__block">
    <h2 class="hotel-page__block__title">Reviews</h2>

    <ul class="reviews-list">
        <% reviews.each do |review| %>
            <li class="reviews-list__item">
                <strong class="reviews-list__item__score"><%= review[:score] %></strong>

                <div class="reviews-list__item__text">
                    <h3 class="reviews-list__item__author"><%= review[:author] %>:</h3>
                    <%= simple_format(review[:text]) %>
                </div>
            </li>
        <% end %>
    </ul>
</div>
